/* 
COLORS

Purple:   #5271FF
Red:      #FF3F00
Orange:   #FF7F11
Black:    #00000
White:    #FFFFFF
Grey:     #BEB7A4

*/

.btn-default {
  font-family: Raleway-SemiBold;
  font-size: 13px;
  color: rgba(108, 88, 179, 0.75);
  letter-spacing: 1px;
  line-height: 15px;
  border: 2px solid rgba(108, 89, 179, 0.75);
  border-radius: 40px;
  background: transparent;
  transition: all 0.3s ease 0s;
}

.btn-default:hover {
  color: #FFF;
  background: rgba(108, 88, 179, 0.75);
  border: 2px solid rgba(108, 89, 179, 0.75);
}

/* start working button and submit button */
.btn-main {
  font-size: 13px;
  color: #000000;
  background-color:#000000;
  letter-spacing: 1px;
  line-height: 15px;
  border: 2px solid#000000;
  border-radius: 40px;
  background: transparent;
  transition: all 0.3s ease 0s;
  width: 200px;
}


/* start working button and submit button */
.btn-main:hover {
  background-color:#000000;
  border: 2px solid#000000;
  color:#FFF;
}

.btn-danger {
  background-color: #FF3F00;
  border: #FF3F00;
}

.btn-danger:hover {
  background-color: #e43900;
  border: #e43900;
}

.navbar-nav {
flex: 1;
margin: auto !important;
display: flex;
justify-content: space-around;
}

.table.table.table-secondary td{
  background-color: rgba(248, 249, 250) !important;
}

body {
  min-width: 400px;
  min-height: 600px;
}

.form-actions {
  margin: 0;
  background-color: transparent;
  text-align: center;
}

.top-buffer { padding-top:15px; }
.reduce-bottom-buffer { margin-bottom:-15px; }

.top-bar {
  background-color: black;
  color:white;
  height: 65px;
  margin-bottom: -10px;
  line-height: 35px;;
}

#main-logo {
  width: 15%;
  height: auto;
  /* margin-bottom: 0px; */
  /* margin-right:0px; */
  margin:0px;
}

.dark-icon {
  color: rgb(83, 83, 83);
}

.dark-icon:hover {
  color: black;
}

.light-icon {
  color: #FF7F11;
}

.light-icon:hover {
  color: #FF3F00;
}

#settings-button {
  margin:0px;
}

.task-complete {
  color:rgb(83, 83, 83) !important;
  text-decoration: line-through;
}

/* 
COLORS

Purple:   #5271FF
Red:      #FF3F00
Orange:   #FF7F11
Black:    #00000
White:    #FFFFFF
Grey:     #BEB7A4

*/