<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">

    <!-- Bootstrap Icons CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">

    <!-- Custom CSS -->
    <link href="../static/css/styles.css" rel = "stylesheet">

    <title>Task Manager</title>
  </head>
  <body>
    <!-- Top bar -->
    <div class="container-fluid top-bar">
      <div class="row top-buffer reduce-bottom-buffer">
        <div>
          <p style="float:left;">Create a Task</p>
          <a href="../templates/settings.html" style="float:right;"><i class="bi bi-gear"></i></a>
        </div>
      </div>

    </div>
    <br>

      <div class = "container-fluid"> 
        <form id="tasksubmit" action="index.html" method="get">
            <div class="form-group my-3">
              <label for="task">Task Name</label>
              <input type="text" class="form-control" id="task" aria-describedby="task" placeholder="Enter task name" required>
            </div>
            <div class="form-group my-3">
              <label for="task_description">Task Description</label>
              <textarea class="form-control" id="task_description" placeholder="Description of Task"></textarea>
            </div>
            <div class="form-group my-3">
              <label for="date">Task Deadline</label>
              <br>

              <input type="date" id="date" style="float:left;" required></input>
              <input type="time" id="time" style="float:right;" required></input>
              
              <br>
            </div>
            <div class="form-group my-3">
              <label for="reward">Reward</label>
              <input type="number" min="0" step="0.5" class = "form-control" id="reward" required></input>
            </div>
            <div class = "form-actions">
              <button type="submit" class="text-center py-2 px-6 btn-main">Submit</button>
            </div>
        </form>
      </div>
   
    <nav class = "navbar fixed-bottom navbar-expand navbar-light bg-light">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="index.html">
            <i class="bi bi-house-door-fill"></i>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="create_task.html">
            <i class="bi bi-plus-square"></i>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="website_list.html">
            <i class="bi bi-x-square-fill"></i>
          </a>
        </li>
      </ul>
    </nav>
    
    <script src="../task.js"></script>
  </body>
</html>