<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">

    <!-- Bootstrap Icons CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">

    <!-- Custom CSS -->
    <link href="../static/css/styles.css" rel = "stylesheet">

    <title>Task Manager</title>
  </head>
  <body>

    <!-- Top bar -->
    <div class="container-fluid top-bar">
      <div class="row top-buffer reduce-bottom-buffer">
        <div>
          <p style="float:left; margin-left: 10px;"><img id="main-logo" src="../static/images/check-mark.png"></p>
          <a class="light-icon" id="settings-button" href="../templates/settings.html" style="float:right; margin-right: 10px;"><i class="bi bi-gear"></i></a>
        </div>
      </div>

    </div>
    <br>  

    <style>
      #settings-button {
        color: #FF7F11;
      }
      #settings-button:hover {
        color: white;
      }

      .nav-item {
        margin-bottom:-4px;
        width: 45px;
        text-align: center;
        font-size: 18px;
      }
    </style>

    <div class = "fixed-bottom">
        <nav class = "navbar navbar-expand navbar-light bg-light">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link" href="index.html">
                  <i class="bi bi-house-door-fill dark-icon"></i>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="create_task.html">
                  <i class="bi bi-plus-square dark-icon"></i>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="website_list.html">
                  <i class="bi bi-filter-square-fill dark-icon"></i>
                </a>
              </li>
            </ul>
          </nav>
    </div>

    <!-- Added settings -->
    <div class="container-fluid" id="settings-form">
      <form>
        <div class="form-group my-3">
          <label for="sPoints">Short Break Points</label>
          <input type="number" min="0" step="0.5" class="form-control" id="sPoints" aria-describedby="task" placeholder="Enter # of points for a short break" autocomplete="off" required>
        </div>
        <div class="form-group my-3">
          <label for="lPoints">Long Break Points</label>
          <input type="number" min="0" step="0.5" class="form-control" id="lPoints" aria-describedby="task" placeholder="Enter # of points for a long break" autocomplete="off" required>
        </div>
        <div class="form-group my-3">
          <label for="sDuration">Duration of Short Break (Min)</label>
          <input type="number" min="0" step="0.5" class="form-control" id="sDuration" aria-describedby="task" placeholder="Enter duration of short break" autocomplete="off" required>
        </div>
        <div class="form-group my-3">
          <label for="lDuration">Duration of Long Break (Min)</label>
          <input type="number" min="0" step="0.5" class="form-control" id="lDuration" aria-describedby="task" placeholder="Enter duration of long break" autocomplete="off" required>
        </div>
        <br>
        <br>
        <br>
        <div class = "form-actions mt-4">
          <button type="submit" id="settings-sub" class="text-center py-2 px-6 btn-main">Submit</button>
        </div>
      </form>
    </div>

    <style>
        #settings-form {
          margin-top:-20px;
        }
        #settings-sub {
            margin-top:2px;
        }


      </style>

</body>
</html>
