<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">

    <!-- Bootstrap Icons CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">

    <!-- Custom CSS -->
    <link href="../static/css/styles.css" rel = "stylesheet">

    <title>Task Manager</title>
  </head>
  <body>
    <h1 class = "text-center mb-6 my-2">Blocked Sites</h1>
    <div class="container">
        <ul id="site-list" class = "list-group">
        </ul>
    </div>
    <div class = "fixed-bottom">
      <div class="text-center" id="add-blocked">
        <div class = "container">
        <form id="blocksubmit">
              <div class = "form-group">
                <!-- <label for "site">Add a Blocked Site</label> -->
                <input type = "text" id = "site" placeholder="Blocked Site URL" class = "form-control" required></input>
              </div>
              <br>
              <div class = "form-actions">
                <div class="text-center" id="start-working"><button class = "py-2 px-6 btn-main">Add a Blocked Site</button></div>
              </div>
        </form>
        </div>
      </div>
      <br>
        <nav class = "navbar navbar-expand navbar-light bg-light">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="index.html">
                <i class="bi bi-house-door-fill"></i>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="create_task.html">
                <i class="bi bi-plus-square"></i>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="website_list.html">
                <i class="bi bi-x-square-fill "></i>
              </a>
            </li>
          </ul>
        </nav>
    </div>
    <script src="../blocklist.js"></script>
  </body>
</html>